/* ROUTE */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    top: 100px;
    bottom: 0;
    font-family: "Poppins", sans-serif;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 8px 16px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    top: 0;
    min-height: 70px;
}
.navbar-brand {
    color: #152b5b;
}
.navbar-nav a {
    color: #152b5b;
}

main {
    margin-top: 70px;
}

footer {
    margin-top: 70px;
    width: 100%;
    padding: 8px 16px;
    background-color: white;
    bottom: 0%;

    box-shadow: 0 -1px 1px -1px rgba(0, 0, 0, 0.3);
}

/* jumbotron */

.jumbotron {
    background-image: url("../img/image1.png");
    height: 502px;
    background-size: cover;
    text-align: center;
    position: relative;
}

.jumbotron .container {
    position: relative;
}

.jumbotron::after {
    content: "";
    display: block;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0)
    );
    position: absolute;
    bottom: 0;
}

.jumbotron .display-5 {
    margin-top: 125px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

/* card */
.card-image {
    background-image: url("../img/image2.png");
    background-size: inherit;
    background-repeat: no-repeat;
    height: 215px;
    position: relative;
    border-radius: 5px;
}

.card-image .card-text {
    position: relative;
    z-index: 1;
}

.card-image .card-text h2 {
    margin-top: 95px;
    font-size: 20px;
}

.card-image .card-text .text-size {
    margin-top: -10px;
    font-size: 16px;
}

.card-image::after {
    content: "";
    display: block;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0)
    );
    position: absolute;
    bottom: 0;
}

/* DETAIL */

.detail button {
    filter: drop-shadow(0px 8px 15px rgba(43, 76, 220, 0.39));
    border-radius: 4px;
    background-color: #2b4cdc;
    min-width: 125px;
    margin-right: 5px;
}

.btn-close {
    filter: drop-shadow(0px 8px 15px rgba(43, 76, 220, 0.39));
    border-radius: 4px;
    background-color: #2b4cdc;
    width: 10px;
}

.detail-disk {
    filter: drop-shadow(0px 8px 15px rgba(43, 76, 220, 0.39));
    border-radius: 4px;
    background-color: #2b4cdc;
    min-width: 125px;
    margin-left: 5px;
}

@media screen and (min-width: 1200px) {
    .detail-disk {
        min-width: 216px;
    }

    .detail button {
        min-width: 216px;
    }
}

@media screen and (max-width: 800px) {
    .detail img {
        max-width: 300px;
        max-height: 200px;
    }
}
